
<h3><u>Revise sua Cédula</u></h3>

{#foreach $T.questions as question}
<p>
<span style="font-size: 14pt;">{$T.question.short_name}</span>

<p>
<b style="font-size:1.4em; margin-left: 50px;">{#foreach $T.choices[$T.question$index] as choice}
{$T.choice}{#if !$T.choice$last}, {#/if}
{#/for}</b>
{#if $T.choices[$T.question$index].length < $T.question.max}
&nbsp;&nbsp;&nbsp;
<!--[you under-voted: you may select up to {$T.question.max}] -->
[você não votou corretamente: você precisa selecionar até {$T.question.max} opção ou opções.]
{#/if}
&nbsp;&nbsp;&nbsp;
[<a onclick="BOOTH.show_question({$T.question$index}); return false;" href="#">Alterar escolha</a>]
</p>
{#/for}

<p><br />
<div align="center">
<!-- btn-primary -->
<button class="btn btn-success btn-lg" onclick="BOOTH.seal_ballot();">>> Confirmar sua escolha e cifrar cédula</button>
</div><br />
