.top-bar {
	background: #607D8B url('../img/h1Logomarca.gif') no-repeat left center;
	min-height:98px;
}
#banner {
	background:#648392;
}

#footer {
	background:#648392;
}
#progress_div td.selected {
  background:#DFF0D8;
}
.btn-primary,a.btn,.btn-lg,.btn-primary {
	background-color:#336633;
	border-color:#336633;
}
.btn-primary:hover,#proceed_button{
	background-color:#009933;
	border-color:#009933;
}
a:hover, a:focus {
  color: #009933;
  text-decoration: underline;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{
	color:#fff;
	background-color:#009933;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #FFF;
  background-color: #009933;
  border-color: #336633;
}

.panel-primary > .panel-heading {
    color: #fff;
    font-weight: bold;
    background-color: #607D8B;
    border-color: #607D8B;    
}

.panel-primary {
    border-color: #607D8B;    
}
